/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2014, 1:34:36 PM
    Author     : Administrator
*/

nav {
    background-color: #ffffff;
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px 0px 0px 0px;
    padding: 8px;
    width: 100%;
    z-index: 100;
    text-align: center;
    border-bottom: 2px solid #C0C0C0;
    text-transform: uppercase;
    opacity: 0.9;
}
nav a:link, nav a:active, nav a:visited {
    text-decoratin: none;
    font-size: 18px;
    margin: 5px;
    color: #000000;
}
nav a:hover {
    color: #AAA7A7;
    cursor: default;
    font-size: 18px;
    margin: 5px;
}
nav button {
    
}
footer {
    background-color: #ffffff;
    position: fixed;
    bottom: 0px;
    left: 0px;
    margin: 0px 0px 0px 0px;
    padding: 8px;
    width: 100%;
    z-index: 100;
    text-align: center;
    border-top: 2px solid #C0C0C0;
    text-transform: uppercase;
    opacity: 0.9;
}
a:link, a:active, a:visited {
    color: #000000;
    text-decoration: none;
}
a:hover {
    color: #C0C0C0;
    cursor: default;
    text-decoration: none;
}
h1 {
    font-size: 30px;
    line-height: 25px;
    color: #000000;
    text-align: center;
    padding: 0px;
    margin: 0px;
    letter-spacing: 14px;
    text-transform: uppercase;
}
h2 {
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    color: #AAA7A7;
    text-align: center;
    text-transform: uppercase;
}
header {
    margin: 0 auto;
    background-color: #ffffff;
}
article {
    background-image: url("bgs/articlebg.png");
    width: 40%;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid #C0C0C0;
}
body {
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: trebuchet ms, sans-serif;
    font-size: 14px;
}
td {
    padding: 5px;
}
img {
    opacity: 1.0;
}